# Database credentials
*.env
config.ini
**/. env
**/.env.local

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Database dumps
*.sql.gz
*.dump
*.db

venv/
stock-analysis/data/raw/sec_filings/
app/backend/test_similarity.py
app\backend\.env
v3.md
app/backend/.env
app/frontend/.env
C:\Users\himan\OneDrive\Desktop\TradeSenpai\images